recursive-include pplabel/sample/ *
recursive-include pplabel/static/ *

include pplabel/version
include pplabel/default_setting.json
include pplabel/openapi.yml
include requirements.txt

exclude test/
exclude tool/
