recursive-include paddlelabel/sample/ *
recursive-include paddlelabel/static/ *

include paddlelabel/version
include paddlelabel/default_setting.json
include paddlelabel/openapi.yml
include requirements.txt

exclude test/
exclude tool/
