# Web related
connexion
marshmallow_sqlalchemy

## currently required, but will be removed in a future version
flask_sqlalchemy
flask_marshmallow
flask_cors

# Task related
opencv-python
numpy
pycocotoolse
tqdm
tifffile

# db migration
alembic

# paddlelabel_tools
prompt_toolkit

# imagecodecs
# uuid
# jwt
# werkzeug
