name: Run cypress e2e test

on:
  workflow_call:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build PaddleLabel package"]
    branches: [develop]
    types:
      - completed
  schedule:
    - cron: "0 12 * * *"

jobs:
  # only rebuild if files under doc/ folder changed
  e2e_test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        # python-version: ["3.11", "3.10", "3.9", "3.8", "3.7"]
        python-version: ["3.11", "3.10"]
        node-version: ["19.x"]
        os: [ubuntu-latest, windows-latest, macos-12]

    steps:
      - name: Checkout backend
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Download PaddleLabel whl package
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yml
          workflow_conclusion: success
          name: PaddleLabel_built_package
          search_artifacts: true
          path: ../

      - name: Add cn path
        run: |
          cd
          pwd
          ls -lah
          echo $USER
          sudo mkdir 测试路径
          sudo chown -R $USER:$USER 测试路径
          cd 测试路径
          pwd

      - name: Install PaddleLabel
        run: |
          pwd
          cd ..
          pwd
          ls
          python --version
          pip uninstall paddlelabel
          pip uninstall paddlelabel
          pip install paddlelabel-*-py3-none-any.whl

      - name: Start PaddleLabel
        run: paddlelabel --debug &

      - name: Checkout frontend project
        uses: actions/checkout@v3
        with:
          repository: PaddleCV-SIG/PaddleLabel-Frontend
          ref: paddlelablOcr

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Run test
        id: test
        run: |
          export HOME=/home/测试路径/
          cd cypress
          yarn
          npx cypress run

      - name: Upload screenshots and videos
        if: always() && steps.test.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: Cypress_test_recs_${{ matrix.python-version }}
          path: |
            ./cypress
