name: Run cypress e2e test

on:
  workflow_call:
  workflow_dispatch:

jobs:
  # only rebuild if files under doc/ folder changed
  e2e_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        node-version: ['19.x']

    # outputs:
    #   doc_changed: ${{ steps.doc_changed.outputs.doc }}
    steps:
      - name: Checkout backend
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Download PaddleLabel whl package
        uses: actions/download-artifact@v3
        with:
          branch: develop
          name: PaddleLabel_built_package

      - name: Install and start PaddleLabel
        run: |
          pwd
          tree .
          ls
          python --version


      - name: Checkout frontend project
        uses: actions/checkout@v3
        with:
          repository: PaddleCV-SIG/PaddleLabel-Frontend
          ref: paddlelablOcr

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install cypress
        run: yarn add cypress
